body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-container {
  width: 400px;
  height: 300px;
  position: relative;
}

.new-game {
  position: absolute;
  /*margin: 0 auto;*/
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.new-game-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.game-contents {
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: space-around;
  
}

.new-game-title-pause-container {
  left: 20%;
  right: 20%;
  width: 60%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-bottom: 40px;
}

.new-game-title-container {
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(40, 44, 47, 0.7);
  margin-bottom: 3px;
}

.new-game-title {
  font-size: 24px;
  margin-top: 8px;
  text-align: center;
  font-weight: 500;
}

.new-game-text-high-score {
  display: flex;
  margin-top: 6px;
  font-size: 10px;
  
}

.btn {
  font-size: 12px;
  color: #111111;
  padding: 2px 5px;
  background: #DDDDDD;
  border-radius: 2px;
  border: 1px solid #DDDDDD;
}

.new-game-text {
  margin: 0 10px 8px 8px;
}

.btn:hover {
  cursor: pointer;
  border: 1px solid yellow;
}

.btn-row {
  display: flex;
}

.btn.left {
  margin: 0 10px 8px 8px;
}

.btn.right {
  right: 0;
  margin: 0 8px 8px 0;
}

.new-game-pause {
  padding: 3px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(40, 44, 47, 0.7);
  text-align: center;
  font-size: 10px;
  font-weight: 200;
}

body {
  width: 100%;
  background: rgb(40, 44, 47);
  height: 100%;
  margin: 0;
}

body:-moz-full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

body:-webkit-full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

body:fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

*:-moz-full-screen html {
  background: rgb(40, 44, 47);
  height: 100%;
  width: 100%;
}

*:-webkit-full-screen html {
  background: rgb(40, 44, 47);
  height: 100%;
  width: 100%;
}

*:fullscreen html {
  background: rgb(40, 44, 47);
  width: 100%;
  height: 100%;
}

html {
  background: rgb(40, 44, 47);
  width: 100%;
  height: 100%;
  
}

body:-moz-full-screen .nav {
  display: none;
}

body:-webkit-full-screen .nav {
  display: none;
}

body:fullscreen .nav {
  display: none;
}

body:-moz-full-screen .side {
  display: none;
}

body:-webkit-full-screen .side {
  display: none;
}

body:fullscreen .side {
  display: none;
}

.mobile-instructions {
  display: none;
}

body:fullscreen .game-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

body:-moz-full-screen .game-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

body:-webkit-full-screen .game-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

body:fullscreen .game-contents {
  margin: 0;
  width: auto;
}

body:-moz-full-screen .game-contents {
  margin: 0;
  width: auto;
}

body:-webkit-full-screen .game-contents {
  margin: 0;
  width: auto;
}



body:fullscreen .new-game-score {
  display: block;
}

body:-moz-full-screen .new-game-score {
  display: block;
}

body:-webkit-full-screen .new-game-score {
  display: block;
}

.new-game-score {
  display: none;
  position: absolute;
  left: 20px;
  top: 20px;
}

.nav {
  overflow: hidden;
  background-color: rgb(28, 32, 35);
  top: 0;
  width: 100%;
}

.button {
  padding: 4px 3px;
  color: #777777;
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
}

.side {
  min-width: 200px;
  height: 300px;
  /*border: 3px solid #333333;*/
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controls {
  color: #666666;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin: 10px 0 20px 0;
}

.arrow-keys {
  color: #999999;
  display: flex;
}

.arrow-key {
  font-family: sans-serif;
  border-radius: 5px;
  border: 1px solid #111111;
  font-size: 10px;
  padding: 8px 18px;
  background: #222222;
}


.left-arrow {
  margin-right: 20px;
  transform: scale(-1, 1);
 }
 
 .up-arrow {
   margin-right: 20px;
 }
 
 .arrow-key.up-arrow.small-key {
   color: #999999;
   font-size: 7px;
   padding: 4px 9px;
   border-radius: 2px;
   margin-right: 0;
 }
 
 #score {
   margin-top: 8px;
   color: #888888;
   font-size: 18px;
   min-width: 90px;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   background: #111111;
   border-radius: 5px;
   padding: 8px 0;
 }
 
 .score-txt {
   margin-top: 20px;
   color: #666666;
   font-size: 24px;
   font-family: 'Montserrat', sans-serif;
   
 }

.personal-info {
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #666666;
  font-size: 20px;
}

.name {
  margin-top: 10px;
  
}

.personal-links ul {
  display: flex;
  width: 100%;
  padding: 0;
}

.personal-links li {
  margin-right: 20px;
  list-style: none;
  font-size: 25px;
  padding-bottom: 2px;
}

.personal-links li:last-child {
  margin-right: 0;
}

.personal-links a {
  background: #999999;
  color: #333333;
  border-radius: 15px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-links a:visited {
  color: #333333;
}

.hint {
  margin-top: 10px;
  width: 140px;
  line-height: 20px;
  text-align: center;
  color: #666666;
  font-size: 14px;
}

.hint-bold {
  font-weight: 700;
}

.personal-site {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}